.dashboard ul {
	padding: 0;
}

.dashboard h6 {
	font-size: 28px;
}

.jobs-list p {
	font-size: 24px;
}

.jobs-header {
	background-color: #edebeb;
	display: block;
}

.sort {
	width: 50%;
	font-size: 24px;
	display: inline-block;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.add-job {
	width: 30%;
	display: inline-block;
	background-color: #edebeb;
	padding: 40px;
	float: right;
	margin: 0 auto;
}

.add-job button {
	width: 100px;
	height: 35px;
	background-color: #2d9cdb;
	color: #fff;
	font-size: 18px;
}

.clear {
	clear: both;
}

.jobs-list {
	background-color: #fff;
}

.job-section {
	width: 100%;
	margin: 20px auto;
	display: block;
	clear: both;
}

.job-image {
	width: 20%;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 50px;
	float: left;
	display: inline-block;
}

.job-image img {
	width: 100%;
}

.job-text {
	width: 60%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	float: left;
}

.job-status {
	width: 20%;
	margin: 0 auto;
	padding-top: 70px;
	display: inline-block;
}

@media only screen and (max-width: 768px) {
	.dashboard h6 {
		font-size: 20px;
	}

	.jobs-list p {
		font-size: 16px;
	}

	.job-image {
		width: 20%;
		margin: 0 auto;
		padding-top: 50px;
		padding-left: 20px;
		float: left;
		display: inline-block;
	}

	.job-image img {
		width: 100%;
	}

	.job-text {
		width: 50%;
		display: inline-block;
		text-align: center;
		margin: 0 auto;
		float: left;
	}

	.job-status {
		width: 20%;
		margin: 0 auto;
		padding-top: 50px;
		padding-right: 20px;
		display: inline-block;
	}

	.sort {
		width: 50%;
		font-size: 20px;
	}

	.add-job {
		margin-right: 50px;
	}

	.add-job button {
		margin-right: 20px;
		width: 80px;
		font-size: 14px;
	}
}
