.job-header img {
	width: 400px;
	height: 200px;
	margin: 0 auto;
}

.job-header {
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
	background-color: #edebeb;
	padding: 20px;
}

.job-header h2 {
	font-size: 32px;
	color: #2f80ed;
}

.job-header h3 {
	font-size: 24px;
}

.job-header a {
	text-decoration: none;
}

.job-header button {
	width: 200px;
	height: 35px;
	background-color: #2f80ed;
	color: #fff;
	font-size: 18px;
	margin: 50px auto;
	display: block;
}

.job-info {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.job-info ul {
	padding: 0;
	list-style: none;
	font-size: 20px;
}

.job-info li {
	padding: 20px;
}

.job-info-list {
	width: 60%;
	margin: 0 auto;
}

.job-info-buttons {
	float: right;
	width: 40%;
	margin: 0 auto;
}

.job-info-buttons button {
	width: 100px;
	height: 30px;
	background-color: #2f80ed;
	color: #fff;
	font-size: 14px;
	margin-left: 10px;
}

.job-notes {
	width: 100%;
	padding: 40px;
	background-color: #edebeb;
}

.autosave {
	padding-left: 10px;
	font-size: 16px;
}

.notes-form {
	margin-left: 20%;
}

.notes-form textarea {
	width: 70%;
	height: 150px;
	margin: 0 auto;
}

.job-notes h4,
.job-notes p {
	font-size: 20px;
	padding-left: 20%;
}

.job-checkpoints {
	width: 100%;
}

.job-checkpoints li {
	width: 100%;
	list-style: none;
	text-align: center;
	height: 100px;
	border-top: 1px solid #333;
	padding-top: 20px;
}

.checkpoints-header h3 {
	font-size: 32px;
	padding-left: 20%;
	display: inline-block;
}

.checkpoints-header button {
	width: 150px;
	height: 35px;
	background-color: #2f80ed;
	color: #fff;
	font-size: 18px;
	margin-left: 30%;
	display: inline-block;
}

.checkpoints-list {
	margin: 50px auto;
}

.checkpoint {
	margin-left: 20%;
	margin-top: 50px;
	display: block;
}

.checkpoint button {
	width: 70px;
	height: 30px;
	background-color: #2f80ed;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
}

.checkpoint h5 {
	font-size: 24px;
	color: #2f80ed;
}

.checkpoint p {
	font-size: 18px;
}

@media only screen and (max-width: 768px) {
	.job-info-list {
		width: 100%;
		margin: 0 auto;
		display: block;
		text-align: center;
		padding: 20px;
	}

	.job-info-buttons {
		width: 100%;
		margin: 0 auto;
		display: block;
		text-align: center;
		padding: 20px;
	}

	.notes-form {
		margin-left: 0;
	}

	.notes-form textarea {
		width: 100%;
	}
	.job-notes h4,
	.job-notes p {
		padding-left: 0;
	}

	.checkpoints-header h3 {
		padding-left: 0;
		text-align: center;
		display: block;
	}

	.checkpoints-header button {
		margin: 0 auto;
		display: block;
	}
}
