.stats ul {
	padding: 0;
}

.stats li {
	list-style: none;
}

.stats h3 {
	font-size: 32px;
	padding-bottom: 50px;
}

.progression-avg {
	width: 80%;
	display: block;
	margin: 50px auto;
}

.progression-graph {
	width: 500px;
	margin: 0 auto;
}

.stages {
	width: 80%;
	display: block;
	margin: 50px auto;
}

.skills {
	width: 80%;
	display: block;
	margin: 50px auto;
	padding-top: 100px;
	clear: both;
}

.stages-list {
	width: 40%;
	display: inline-block;
	margin: 0 auto;
	text-align: right;
	float: right;
}

.stages-graph {
	width: 50%;
	display: inline-block;
	float: left;
	margin: 0 auto;
}

.skills-list {
	width: 40%;
	display: inline-block;
	margin: 0 auto;
	float: left;
}

.skills-graph {
	width: 50%;
	display: inline-block;
	margin: 0 auto;
	float: right;
}

.stages-list li,
.skills-list li {
	font-size: 32px;
	padding: 10px;
}

@media only screen and (max-width: 768px) {
	.progression-graph {
		width: 100%;
		margin: 0 auto;
	}

	.stages {
		margin: 0 auto;
		padding-top: 0;
	}

	.skills {
		margin: 0 auto;
		padding-top: 20px;
	}

	.stages-list {
		text-align: center;
		width: 100%;
		display: block;
		float: none;
		margin-top: 50px;
	}

	.stages-graph {
		text-align: center;
		width: 100%;
		display: block;
		float: none;
	}

	.skills-list {
		text-align: center;
		width: 100%;
		display: block;
		float: none;
		margin-top: 50px;
	}

	.skills-graph {
		text-align: center;
		width: 100%;
		display: block;
		float: none;
	}
	.stages-list li,
	.skills-list li {
		font-size: 24px;
		padding: 10px;
	}
}
