.stats p {
	padding: 20px;
}

.stats ul {
	padding: 0;
}

.stats li {
	list-style: none;
}

.stats h3 {
	font-size: 32px;
	text-align: center;
	margin-bottom: 10px;
}

.progression-header,
.stages-header,
.skills-header,
.styles-header {
	text-align: center;
	padding-bottom: 50px;
}

.progression-avg {
	width: 100%;
	display: block;
	margin: 50px auto;
}

.nv-chart {
	width: 100%;
}

.progression-graph {
	width: 100%;
}

.progression-graph svg {
	margin-left: 25px;
	width: 90%;
	fill: #fff;
	stroke: #2f80ed;
}

.stages {
	width: 90%;
	display: block;
	margin: 50px auto;
}

.skills {
	width: 90%;
	display: block;
	margin: 50px auto;
	padding-top: 100px;
	clear: both;
}

.stages-list {
	width: 40%;
	display: inline-block;
	margin: 0 auto;
	text-align: right;
	float: right;
	padding-right: 5%;
}

.stages-graph {
	width: 60%;
	display: inline-block;
	float: left;
	margin: 0 auto;
}

.stages-graph svg {
	width: 80%;
	margin: 0 auto;
}

.skills-list {
	width: 40%;
	display: inline-block;
	margin: 0 auto;
	padding-left: 10%;
	float: left;
}

.skills-graph {
	width: 60%;
	display: inline-block;
	margin: 0 auto 40px auto;
	float: right;
}

.skills-graph svg {
	width: 100%;
	height: 400px;
}

.discreteBar {
	stroke: #2f80ed;
	fill: #2f80ed;
}

.stages-list li,
.skills-list li {
	font-size: 24px;
	padding: 10px;
}

.styles {
	width: 100%;
	margin: 50px auto;
	display: block;
	clear: both;
}

.styles-bar-graph {
	width: 50%;
	display: inline-block;
	margin: 0 auto;
}

.styles-bar-graph svg {
	width: 100%;
	/*	height: 400px;*/
	margin: 0 auto;
}

.styles-line-graph {
	width: 50%;
	display: inline-block;
	margin: 0 auto;
}

.styles-line-graph svg {
	width: 100%;
	height: 400px;
	margin: 0 auto;
}

.nv-background {
	fill: #FFF;
}

.nv-x g {
		height: 400px;
	}

.nv-x text {
		font-size: 12px;
		transform: rotate(65deg) translateX(25px);
	}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
	.progression-avg {
		width: 100%;
		margin: 20px auto;
	}

	.progression-graph {
		width: 100%;
		margin: 0;
	}

	.progression-graph svg {
		width: 80%;
		fill: #fff;
		stroke: #2f80ed;
	}

	.stages {
		margin: 0 auto;
		padding-top: 0;
	}

	.stages h3 {
		margin-top: 0;
		padding-top: 0;
	}

	.skills {
		margin: 0 auto;
	}

	.skills h3 {
		margin-top: 0;
	}

	.stages-list {
		text-align: center;
		width: 100%;
		display: block;
		float: none;
		margin-top: 50px;
	}

	.stages-graph {
		text-align: center;
		width: 100%;
		display: block;
		float: none;
	}

	.skills-list {
		text-align: center;
		width: 100%;
		display: block;
		float: none;
		margin-top: 50px;
	}

	.skills-graph {
		text-align: center;
		width: 100%;
		display: block;
		float: none;
	}

	.nv-x g {
		height: 400px;
	}

	.nv-x text {
		font-size: 12px;
		transform: rotate(65deg) translateX(25px);
	}

	.stages-list li,
	.skills-list li {
		font-size: 20px;
		padding: 10px;
	}

	.job-stage-piechart {
	width: 100%;
	margin: 0 auto;
}
	.job-stage-data {
		padding-left: 0;
	}
}

@media only screen and (max-width: 420px) {
	.progression-graph {
		width: 80%;
	}
	.progression-graph svg {
		width: 100%;
		margin-left: 0;
	}
}
