.job-form {
	width: 90%;
	margin: 50px auto;
	text-align: center;
	background: #c4c4c4;
	padding: 20px;
	border: 2px solid #333;
	border-radius: 5px;
}

.job-form label {
	font-size: 20px;
	padding-bottom: 10px;
}

.job-form input {
	margin: 20px auto;
	width: 70%;
}

.job-form select {
	margin: 20px auto;
	width: 70%;
}

.job-form option {
	text-align: center;
}

.job-form h2 {
	margin-bottom: 30px;
}

.job-form button {
	width: 100px;
	height: 35px;
	background-color: #2f80ed;
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
}

@media only screen and (max-width: 768px) {
.job-form {
	width: 80%;
}

.job-form input {
	width: 90%;
}

.job-form select {
	width: 90%;
}
}

@media only screen and (max-width: 540px) {
.job-form {
	width: 90%;
}

.job-form input {
	width: 95%;
}

.job-form select {
	width: 95%;
}
}