* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

.landing-steps {
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
	display: block;
}

.landing-steps h3 {
	text-align: center;
	color: #2d9cdb;
	font-size: 32px;
}

.steps-group {
	text-align: center;
	width: 100%;
	clear: both;
}

.steps-section {
	width: 32%;
	height: auto;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
	clear: both;
}

.steps-section img {
	width: 100%;
	height: 250px;
}

@media only screen and (max-width: 768px) {
	.steps-section {
		width: 100%;
		padding: 20px;
		display: block;
	}

	.steps-section img {
		width: 95%;
	}

	.steps-section p {
		width: 95%;
	}
}
