* {
	box-sizing: border-box;
}

.landing-intro {
	width: 100%;
	height: 800px;
	background-image: url('../../img/landing-resume.jpeg');
	background-size: cover;
}

.intro-heading {
	font-size: 72px;
	color: #FFF;
	text-align: center;
}