* {
	box-sizing: border-box;
}

.landing-register {
	background-color: #edebeb;
	padding: 30px;
}

.register-text {
	text-align: left;
	margin-left: 30%;
	display: inline-block;
	font-size: 30px;
}

.landing-register button {
	width: 150px;
	height: 35px;
	background-color: #2f80ed;
	color: #fff;
	font-size: 18px;
	margin-left: 60%;
	display: inline-block;
}

.blue {
	color: #2d9cdb;
}

@media only screen and (max-width: 768px) {
	.landing-register {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.landing-register button {
		margin: 10px auto;
		display: block;
	}

	.register-text {
		text-align: center;
		margin: 0 auto;
		display: block;
		font-size: 24px;
		padding: 10px;
	}
}
