* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

.landing-section {
	width: 100%;
	margin: 0 auto;
	/*	display: block;*/
	clear: both;
}

.landing-section h2 {
	margin-top: 0;
	color: #2d9cdb;
	font-size: 28px;
}

.landing-section p {
	line-height: 2em;
	font-size: 24px;
}

.right-section {
	/*  	float: right;*/
	text-align: right;
}

.left-section {
	float: left;
	text-align: left;
}

.landing-text {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	padding: 50px;
}

.section-text {
	width: 100%;
}

.landing-image {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	padding: 50px;
}

.grey-bg {
	background-color: #edebeb;
}

.white-bg {
	background-color: #fff;
}

.blue {
	color: #2d9cdb;
}

@media only screen and (max-width: 768px) {
	.landing-section {
		width: 100%;
		margin: 0 auto;
		padding: 20px;
		display: block;
	}

	.landing-section img {
		width: 100%;
	}

	.right-section {
		float: none;
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.left-section {
		float: none;
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.landing-section h2 {
		font-size: 28px;
		margin-top: 10px;
	}

	.landing-section p {
		font-size: 18px;
		line-height: 1.5em;
	}

	.landing-text {
		display: block;
		width: 100%;
		padding: 5px;
	}

	.landing-image {
		display: block;
		width: 100%;
		padding: 5px;
	}
}
