* {
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
}

.landing-intro {
	width: 100%;
	min-height: 800px;
	background-image: url("../../img/landing-resume.jpeg");
	background-size: cover;
}

.landing-intro hr {
	color: #2d9cdb;
	width: 500px;
	height: 5px;
	border: 0;
	box-shadow: inset 0 12px 12px 12px;
	margin-top: 15px;
}

.intro-heading {
	font-size: 72px;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px #333;
	padding-top: 50px;
	margin-bottom: 0;
}

.intro-subheading {
	font-size: 32px;
	color: #fff;
	text-align: right;
	text-shadow: 2px 2px #333;
	padding-top: 10%;
	padding-right: 5%;
	margin: 0 auto;
}

.intro-demo {
	margin: 150px auto 0 80%;
}

.try-demo {
	width: 100px;
	height: 35px;
	background-color: #2f80ed;
	color: #fff;
	font-size: 18px;
/*	margin: 100px auto 100px 80%;*/
/*	display: block;*/
}

@media only screen and (max-width: 768px) {
	.intro-heading {
		font-size: 60px;
	}

	.intro-subheading {
		text-align: center;
		padding: 20px;
		font-size: 28px;
	}

	.landing-intro {
		min-height: 600px;
	}

	.landing-intro hr {
		width: 80%;
	}

	.background-overlay {
		background-image: url("../../img/landing-resume.jpeg");
		background: rgba(0, 0, 0, 0.5);
		min-height: 600px;
	}

	.intro-demo {
		margin: 50px auto 0 auto;
		display: block;
	}

	.try-demo {
		margin: 0 auto;
		display: block;
	}
}
